# Arquivo de senhas
.env




# Planilhas com dados sensíveis
ATIVOS.xlsx
FÉRIAS.xlsx
DESLIGADOS.xlsx
ADMISSÃO ABRIL.xlsx
Base sindicato x valor.xlsx
Base dias uteis.xlsx
AFASTAMENTOS.xlsx
EXTERIOR.xlsx
ESTÁGIO.xlsx
APRENDIZ.xlsx

Relatorio_VR_VA_2025.xlsx
Relatorio_VR_VA_20250826_154201.xlsx
Relatorio_VR_VA_20250826_160618.xlsx


# Pastas e arquivos 
Desafio 4 - Descrição.pdf
I2A2-Agentes.pdf
